*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #1c1c1c;
  color: white;
}

.card{
  background-color: rgb(100, 17, 17);
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
}

.navbar{
  background-color: bisque;
  padding: 10px;
  margin: 5px;
  color: #1c1c1c;
}